  .title {
    font-size: 1.476rem;
    color: #FFC107;
  }

  .sub-title {
    font-size: 1.4rem;
  }

  .footer-home {
    background-color: #FFC107;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bolder;
  }

  .q-btn span {
    font-weight: bolder;
  }