  .title {
    font-size: 1.476rem;
  }

  .sub-title {
    font-size: 1.4rem;
  }

  .footer-home {
    background-color: #FFC107;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }

  .q-btn span {
    font-weight: bolder;
  }

  .resposta{
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 0.5rem
  }

  .q-page-container-custom {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .q-page-container-audio {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer{
    display: flex;
    justify-content: space-around;
  }