  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  }

  .btn-bushi {
    background-color: #FBC920;
    box-shadow: 0 2px black;
  }

  .btn-black {
    color: white;
    background-color: black;
    box-shadow: 0 2px #FBC920;
  }

  .btn-white {
    color: black;
    background-color: white;
    box-shadow: 0 2px #FBC920;
  }

  .btn-black {
    color: white;
    background-color: black;
    box-shadow: 0 2px #FBC920;
  }

  .btn-green {
    color: white;
    background-color: #32CD32;
    box-shadow: 0 2px #006400;
  }

  .btn-blue {
    background-color: blue;
    box-shadow: 0 5px rgb(127, 127, 236);
    color: white;
  }

  .btn-red {
    background-color: red;
    box-shadow: 0 2px gray;
    color: white;
  }

  .with-gradient {
    position: relative;
    padding: 1px;
    font-weight: 600;
  }

  .with-gradient:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #FBC920, #f7bd00);
  }

  .col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 30px;
    color: #FBC920;
    padding: 8px;
    border-radius: 8px;
    font-weight: bolder;
  }

  h2 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    padding: 6px;
    border-radius: 6px;
  }

  h3 {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    padding: 4px;
    border-radius: 4px;
  }

  .bg-bushi {
    background-color: #FBC920;
    color: black;
  }